[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[core]
	editor = code --wait
  excludesfile = ~/.gitignore
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff  $LOCAL $REMOTE"
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[user]
  name = Quang Pham
  email = ""